@media screen and (max-width: 600px) {

    .header {
        flex-direction: column;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .section {
        padding: 60px 0;
    }

    .works-list {
        flex-direction: column;
    }

    .works-list li {
        width: 100%;
    }

    #news dl {
        flex-direction: column;
    }

    #news dt {
        border-bottom: none;
        padding-bottom: 0;
        width: 95%;
    }

    #news dd {
        padding-top: 0;
        width: 95%;
    }

    #contact dl {
        flex-direction: column;
    }

    #contact dt {
        width: 100%;
    }

    #contact dd {
        width: 100%;
    }

    .footer {
        padding: 20px;
    }

}