* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  padding: 0 4%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  max-width: 960px;
  width: 100%;
  box-shadow: 0 5px 10px -6px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  line-height: 1px;
}

.header-logo a {
  display: block;
}

.header-logo img {
  height: 40px;
}

.gnav-list {
  display: flex;
  padding: 10px 0;
}

.gnav-item {
  margin-left: 15px;
}

.gnav-item a {
  color: #333;
}

.gnav-item img {
  width: 20px;
  margin-right: 50px;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 60px;
  text-align: center;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

/*---------Visual----------*/
.visual img {
  height: 600px;
  width: 100%;
  padding-top: 120px;
}

/*---------About----------*/
.content {
  text-align: left;
}

.about-text {
  margin-top: 30px;
}

/*---------Wroks----------*/
.works-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.works-list li {
  width: 30%;
  margin-bottom: 20px;
}

/*---------News----------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
  text-align: left;
}

#news dt {
  width: 10%;
  border-bottom: solid 1px #c8c8c8;
  padding: 10px;
}

#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 10px;
}

/*---------Contact----------*/
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 15px;
}

#contact dd input,
#contact dd textarea {
  width: 90%;
  border: solid 1px #c8c8c8;
  padding: 10px;  
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}

#contact .button input:hover {
  background: #fff;
  color: #24292e;
}


/*---------footer----------*/
.footer {
  padding: 30px;
  background-color:#333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}