@media screen and (max-width: 767px) {

.header .container {
    padding: 15px;
}

.container {
    padding: 0 20px;
}

.section {
    padding: 60px 0;
}

.mv {
    padding-top: 100px;
}

.mv-title {
    font-size: 30px;
}

.mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.mv-text {
    font-size: 14px;
    line-height: 1.7;
}

.sp-only {
    display: block;
}

.title {
    font-size: 26px;
    margin-bottom: 20px;
}

.works-list {
    justify-content: space-between;
}

.works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
}

.works-name {
    font-size: 12px;
}

.works-info {
    margin-top: 3px;
}

.skill-list {
    display: block;
    margin-bottom: 0;
}

.skill-item {
    width: 100%;
    margin-bottom: 35px;
}

.skill-name {
    margin-top: 5px;
}

.skill-text {
    font-size: 13px;
    line-height: 1.7;
}

.profile {
    display: block;
}

.profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.profile-body p:not(:last-child) {
    margin-bottom: 20px;
}

.profile-body p {
    font-size: 14px;
    line-height: 1.7;
}


.lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.footer {
    padding: 20px;
}

}