@media screen and (max-width: 767px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .gnav {
        display: none;
    }

    .gnav.show {
        display: block;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .8;
        z-index: 10;
        transition: all 0.5s;
    }

    .gnav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .gnav-list a {
        display: flex;
        justify-content: left;
        width: 150px;
        height: 25px;
    }

    .menu-icon {
        display: inline-block;
    }

    .pickup {
        flex-direction: column;
    }

    .pickup article {
        width: 100%;
    }

    #container {
        flex-direction: column;
    }

    .main {
        width: 100%;
        padding: 20px 5px;
    }

    .article-title {
        margin-top: 50px;
    }

    #sidebar {
        width: 100%;
        padding: 20px 5px;
    }

    .content {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }
}